.build/
.DS_Store
.swiftpm
*.ipa
*.dSYM.zip
*.dSYM
Package.resolved
xcuserdata/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

GoogleService-Info.plist

